.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
    border-color: var(--color-input-text) !important;
    &:hover {
        border-color: var(--color-input-text) !important;
    }
}