<template>
  <div class="width-100 d-flex align-center flex-column"
    :class="{' height-100': $VBreakpoint.isDesktop() || $VBreakpoint.isPhone(),
      'height-80': $VBreakpoint.isTablet(),
      'justify-center': $VBreakpoint.isDesktop(), 'justify-space-around': isMobile }">

    <BulgoLogo :class="{'mt-10': $VBreakpoint.isTablet(),
      'width-65': $VBreakpoint.isTablet(),
      'width-90': $VBreakpoint.isPhone(),
      'width-40': $VBreakpoint.isDesktop()
    }"/>

    <v-card class="pa-6 bg-transparent"
          :class="{'width-30': $VBreakpoint.isDesktop(),
            'width-55': $VBreakpoint.isTablet(),
            'width-80': $VBreakpoint.isPhone() ,
            'card-highlight': isMobile, 'bg-white--transparent': isMobile }">

      <h3 v-if="isMobile"
        class="blue--text text-center mb-3 font-weight-600 text-uppercase">
        Iniciar Sesión
      </h3>

      <hr v-if="isMobile">

      <v-form ref="formRef" v-model="validForm" >
        <v-text-field type="email" v-model="form['email']['model']" :rules="form['email']['rules']"
          color="input-focus" class="mt-6" placeholder="Correo electronico"
          @keyup.enter="handleLogin" />
        <v-text-field type="password" v-model="form['password']['model']" :rules="form['password']['rules']"
          color="input-focus" placeholder="Contraseña"
          @keyup.enter="handleLogin" />
      </v-form>

      <v-btn
         :class="{'whiteB': !isMobile, 'primaryB': isMobile}"
         class="width-100 pa-3 mt-4"
         @click="handleLogin">
         Ingresar
      </v-btn>

    </v-card>
  </div>
</template>

<script>
import BulgoLogo from 'bulgo-spa-library/src/assets/icons/BULGO_icon_white.svg?inline'
import { isMobile } from 'mobile-device-detect'
import { storeBulgo } from 'bulgo-spa-library';
import Helper from '../helpers';

export default {
  components: {
    BulgoLogo
  },
  data: () => ({
    isMobile,
    validForm: true,
    form: {
      email: {
        model: '',
        rules: [
          v => !!v || 'El correo electronico es requerido',
          v => /^[_a-z0-9-]+(.[_a-z0-9-]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,4})$/.test(v) || 'El correo electronico no es valido'
        ]
      },
      password: {
        model: '',
        rules: [
          v => !!v || 'La contraseña es requerida',
          v => (v && v.length >= 8) || 'La contraseña debe tener minimo 8 caracteres',
        ]
      }
    },
  }),
  created() {
    // * Register Helper
    const helper = new Helper();
    helper.validateTimeApp('login', helper.getTimesApp().requireTime);
  },
  methods: {
    handleLogin() {
      if(this.$refs.formRef.validate()) {
        console.log(
          'Continue Login, get player id onesignal. update library --->',
          storeBulgo.getters.getPlayerId,
          storeBulgo
        )
        this.$router.push('/client/list-products');
      }
    },
  }
}
</script>

<style lang="scss">
  .v-application {
    /* background: url(../assets/icons/login_table_night.png) !important; */
  }
</style>